@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import url("https://use.typekit.net/zoh7hph.css");


body {
  color: #fff;
  font-family:'Sofia Pro', sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #FFC1BD;
  margin: 0px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.wrapper {
  height: 100%;
  display: grid;
  align-items: center;
}

.home {
  position: relative;
  overflow: hidden;
}

h1 {
  font-weight: 600;
  text-align:left;
  color: #ff3000;
}
